@import url(../elements/section__title/section__title.css);
@import url(../elements/section__subtitle/section__subtitle.css);
@import url(../elements/section__table/section__table.css);
@import url(../elements/section__table/_theme/section__table__cell_theme_light.css);

.digits {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  box-sizing: border-box;
}
