.footer__column-link {
  margin-top: 0px;
  margin-bottom: 16px;
  margin-left: 0;
  max-height: 10px;
  text-decoration: none;
  color: white;
  font-weight: normal;
  line-height: 30px;
  font-size: 18px;
}
