.header {
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
}

.header__logo-place {
  position: absolute;
  top: 30px;
  left: 64px;
  height: auto;
  align-self: flex-start;
}

.header__title {
  display: flex;
  justify-content: center;
  margin: auto 64px;
  width: 730px;
  height: auto;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration {
  width: 768px;
  height: 608px;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: rgb(100, 100, 228);
  right: 0;
  top: 64px;
  bottom: 0;
  animation: rotation 20s infinite linear;
}
